:root {
    --darkest: #00171f;
    --dark: #003459;
    --medium: #007ea7;
    --light: #00A7E1;
    --white: #ffffff;
    --body-fonts: 'Lexend Deca', sans-serif;
    --special-fonts:'Carter One', cursive;
  }

body{
    background-color: var(--medium);
}
#board {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: fit-content;
    /* max-height: 1600px; */
    margin: auto;
    margin-top: 50px;
    
}

#board button .gameCard {
    display: none;
}

#board button.selected .gameCard {
    display: flex;
    justify-content: center;
    align-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
}

#board button.selected .bookWrapper {
    display: none;
}

/* #board button .bookWrapper {
    display: none;
} */


.hiding{
    display: none;
}


.bookWrapper {
    background-color: var(--dark);
    border-radius: 2rem;
    height: 90%;
    max-width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.booksPic{
    box-shadow: 10px 20px 10px var(--darkest);
    /* margin: 15%; */
    width: 70%;
}
.gameCard{
    background-color: var(--dark);
    height: 90%;
    border-radius: 2rem;

    max-width: 90%;
   
}

.gameCard img{
    max-height: 70%;
    box-shadow: 10px 20px 10px var(--darkest);
}

#choiceBtns {
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    max-width: 80%;
}

.themeChoice {
    height: auto;
    font-family: var(--body-fonts);
    font-size: xxx-large;
    max-width: inherit;
}

.themeChoice a {
    color:var(--darkest);
    text-decoration: none;
}

button{
    background-color: var(--light);
    box-shadow: 10px 20px 10px var(--darkest);
    border-radius: 2rem;
    padding: 5px;
    /* margin: auto; */
    height: 400px;
    max-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header{
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center; */
    margin: 100px auto;
    max-width: 80%;
    margin-top: 50px;
    /* border: solid 5px gray;
    border-radius: 2%; */
}

footer{
    margin: 50px;
}

h1{
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    box-shadow: 10px 20px 10px var(--darkest);
    font-size: 4rem;
    font-family: var(--special-fonts);
}

h2{
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    box-shadow: 10px 20px 10px var(--darkest);
    font-size: 2.5rem;
    font-family: var(--body-fonts);
}

h1, h2{
    background-color: var(--dark);
    color: var(--white);
    margin: 0px;
    text-align: center;
    padding: 20px;
    
}
h3{
    color: var(--white);
    font-size: 1.8rem;
    font-family: var(--body-fonts);
    text-align: center;

}

